<ion-view title="Request Reset Password" id="page9">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form ng-controller="requestResetPasswordCtrl" ng-submit="requestResetPassword()" class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" id="email" ng-model="email" placeholder="">
            </label>
          <div ng-show="error" class="assertive">{{error}}</div>
          <button id="requestResetPassword-button9" class="button button-stable  button-block">Send</button>
        </form>

        <a ui-sref="tabsController.resetPasswordForm" id="requestResetPassword-button10" class="button button-positive  button-block button-clear">Already have a recovery code?</a>
    </ion-content>
</ion-view>
