<ion-view title="Reset Password Form" id="page10">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <form ng-controller="resetPasswordFormCtrl" ng-submit="resetPassword()" class="list">
            <div ng-show="message" class="balanced">{{message}}</div>
            <label class="item item-input">
                <span class="input-label">Recovery Code</span>
                <input type="text" id="token" ng-model="token" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">New Password</span>
                <input type="password" id="password" ng-model="password" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Re-New Password</span>
                <input type="password" id="confirmPassword" ng-model="confirmPassword" placeholder="">
            </label>
            <div ng-show="error" class="assertive">{{error}}</div>
            <button id="resetPasswordForm-button11" class="button button-stable  button-block">Reset</button>
        </form>

    </ion-content>
</ion-view>
