<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>



    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>

    <!-- Side Menu css -->
    <link href="css/side-menu.css">

    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>

    <!-- Font Awesome -->
    <link href="lib/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <!--<script src="lib/jquery/dist/jquery.min.js"></script> &lt;!&ndash; Bootstrap's JavaScript requires JQuery &ndash;&gt;
    <link href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>-->


  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <div>
    <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" id="side-menu21">
            <ion-header-bar class="bar-stable">
                <div class="title">Menu</div>
            </ion-header-bar>
            <ion-content padding="false" class="side-menu-left has-header">
                <ion-list data-componentid="list4" ng-hide="authenticated">
                    <ion-item ui-sref="tabsController.news" menu-close="" data-componentid="list-item1">News</ion-item>
                    <ion-item ui-sref="tabsController.login" menu-close="" data-componentid="list-item2">Login</ion-item>
                    <ion-item menu-close="" ng-controller="requestResetPasswordCtrl" ng-click="openRequestResetPasswordWithHistory()" data-componentid="list-item3">&nbsp; &nbsp;&nbsp;Request Reset Password</ion-item>
                </ion-list>
                <ion-list data-componentid="list5" ng-hide="authenticated">
                    <ion-item menu-close="" ng-controller="resetPasswordFormCtrl" ng-click="openResetPasswordFormWithHistory()" data-componentid="list-item4">&nbsp; &nbsp;&nbsp;Reset Password Form</ion-item>
                    <ion-item ui-sref="tabsController.register_tab3" menu-close="" data-componentid="list-item5">Register</ion-item>
                    <ion-item menu-close="" ng-controller="resendActivationMailCtrl" ng-click="openResendActivationMailWithHistory()" data-componentid="list-item10">&nbsp; &nbsp;&nbsp;Resend Activation Mail</ion-item>
                    <ion-item menu-close="" ng-controller="activateAccountCtrl" ng-click="openActivateAccountWithHistory()" data-componentid="list-item15">&nbsp; &nbsp;&nbsp;Activate Account</ion-item>
                </ion-list>

              <ion-list data-componentid="list6" ng-show="authenticated">
                <ion-item ui-sref="mainTabsController.huntedList" menu-close="" data-componentid="list-item1">Hunted List</ion-item>
                <ion-item ui-sref="mainTabsController.friendList" menu-close="" data-componentid="list-item2">Friend List</ion-item>
                <ion-item ng-controller="indexCtrl"  data-componentid="list-item3" ng-click="logout()">Logout</ion-item>
              </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
  </div>

 <!-- <div>
    <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu22">
      <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
          <ion-nav-back-button></ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>
      <ion-side-menu side="left" id="side-menu22">
        <ion-header-bar class="bar-stable">
          <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
          <ion-list data-componentid="list1">
            <ion-item ui-sref="mainTabsController.huntedList" menu-close="" data-componentid="list-item1">Hunted List</ion-item>
            <ion-item ui-sref="mainTabsController.friendList" menu-close="" data-componentid="list-item2">Friend List</ion-item>
            <ion-item data-componentid="list-item3">Logout</ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  </div>-->
  </body>
</html>
